/* ---------------------------- Reset Styles -------------------------------- */

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, em, img, small, strike, strong, sub,
sup, var, b, u, i, center, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
    color: inherit;

    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
    }
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

:root {
    font-size: 16px;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* ----------------------- Variables ---------------------------- */
    
    /* Colors */
    --clrImgBrdr: black;
    --clrZinc01: #fafafa;
    --clrZinc02: #f4f4f5;
    --clrZinc03: #e4e4e7;
    --clrZinc04: #d4d4d8;
    --clrZinc05: #a1a1aa;
    --clrZinc06: #71717a;
    --clrZinc07: #52525b;
    --clrShadow: #3f3f46;
    /* Sizes: Margins, Padding, Gaps */
    --sizeMar01: 1rem;
    --sizeMar02: 2rem;
    --sizeMar03: 3rem;
    --sizePad02: 2rem;
    --sizeSmall01: 0.6rem;
    --sizeSmall02: 0.4rem;
    --sizeFormRowMar: calc((var(--sizeDialogWidth) - var(--sizeInputWidth))/2 -
        (var(--sizeDialogBrdr) + var(--sizeLabelWidth) + var(--sizeMar01) + 
        var(--sizeMar03)));
    /* Sizes: Widths, Heights */
    --sizeDialogWidth: 30rem;
    --sizeDialogBrdr: 2px;
    --sizeLabelWidth: 8ch;
    --sizeInputWidth: 20ch;
    /* Sizes: Fonts */
    --sizeFont01: 1.5rem;
    --sizeFont02: 1.2rem;
    --sizeFontLarge: 2.5rem;
    --sizeFontMax: 3rem;
    --sizeFontLabels: 1.2rem;
    --sizeFontTitle: 2rem;
    --sizeFontInput: 1.0rem;
}

/* Sophisticated Everywhere Font */

@font-face {
    font-family: serif-playfair;
    src: url(fonts/playfair/Playfair[opsz\,wdth\,wght].ttf);
    /* has potential */
}

@font-face {
    font-family: serif-ibarrarealnova;
    src: url(fonts/ibarrarealnova/IbarraRealNova[wght].ttf);
    /* has potential */
}

@font-face {
    font-family: serif-matesc;
    src: url(fonts/matesc/MateSC-Regular.ttf);
    /* potential for title */
}


@font-face {
    font-family: serif-cormorantsc;
    src: url(fonts/cormorantsc/CormorantSC-Medium.ttf);
    /* potential as title, or for card titles only */
}

/* App Title Font */

/* ------------------------------ Styles ------------------------------------ */

html {
    height: 100%;
}

body {
    min-height: 100%;
    cursor: default;
    font-family: serif-ibarrarealnova;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--sizeMar02);
}


.header {
    grid-row: 1 / 2;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: var(--sizeMar02) var(--sizeMar01);

    background-color: var(--clrZinc03);
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: var(--sizeMar01);
    
    & .title-sidebar {
        
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--sizeMar01);
        justify-items: start;
        align-items: center;
        
        & .sidebar-icon {
            align-self: center;
            
            cursor: pointer;
            /* minor alignment to center with the rest of the header objects */
            margin-top: 0.3rem;
        }
        
        & .title {
            padding: var(--sizeSmall01);
            padding-left: 0rem;
            justify-content: start;
            cursor: pointer;
            font-family: serif-cormorantsc;
            font-size: var(--sizeFontTitle);
        }
    }

    & .nav {
        justify-self: center;

        font-size: var(--sizeFont02);

        display: flex;
        align-items: center;
        gap: var(--sizeMar01);

        & li {
            padding: var(--sizeSmall01) 0rem;
            cursor: pointer;
        }
    }

    & .account {
        justify-self: end;

        font-size: var(--sizeFont02);

        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: var(--sizeSmall01);

        & .profile-pic {
            border-radius: 50%;
            box-sizing: initial;
            border: 2px solid var(--clrZinc03);
            background-image: url(../img/profile-pic.jpg);
            background-size: 250%;
            background-position: 50% 10%;
            height: 3rem;
            width: 3rem;
            cursor: pointer;

            &:hover {
                border: 2px solid var(--clrImgBrdr);
            }
        }

        & .profile-name {
            padding: var(--sizeSmall01) 0rem;
            cursor: pointer;
        }
    }
}

.main-content {
    grid-row: 2 / 3;

    padding: 0rem var(--sizeMar01) var(--sizeMar02);

    display: flex;
    flex-direction: column;
    gap: var(--sizeMar01);

    & .title-container {
        
        display: flex;
        align-items: center;
        gap: var(--sizeMar01);

        & .title {
            font-size: var(--sizeFontLarge);
        }

        & button {
            font-size: var(--sizeFont02);
            color: black;
            background-color: var(--clrZinc01);
            border: 2px solid black;
            border-radius: 7px;
            padding: 0.1rem 0.5rem;
            cursor: pointer;

            &:hover {
                background-color: var(--clrZinc03);
            }

            &:active {
                background-color: var(--clrZinc05);
            }
        }
    }

    & .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45ch, 1fr));
        grid-auto-rows: minmax(25rem, 1fr);
        column-gap: 1.5rem;
        row-gap: var(--sizeMar02);

        & .book-card {
            border-radius: 5px;
            background-color: var(--clrZinc04);
            padding: var(--sizeMar01);

            transition: transform 0.3s;

            display: grid;
            grid-template-rows: auto 1fr auto;
            gap: var(--sizeMar01);

            &:hover {
                transform: scale(1.02);
            }

            & .title {
                font-size: var(--sizeFontMax);
            }

            & .info {
                font-size: var(--sizeFont02);
            }

            & .buttons {
                justify-self: end;
                
                display: flex;
                gap: var(--sizeSmall02);

                & button {
                    font-size: var(--sizeFont03);
                    color: black;
                    background-color: var(--clrZinc01);
                    border: 1px solid black;
                    border-radius: 7px;
                    width: 10ch;
                    padding: 0.3rem 0rem;
                    cursor: pointer;
                    /* Include the transition here to match the card's */
                    transition: transform 0.3s;
        
                    &:hover {
                        background-color: var(--clrZinc03);
                    }
        
                    &:active {
                        background-color: var(--clrZinc05);
                    }
                }
            }
        }
    }
}

.form-overlay {
    padding: 0rem;
    min-width: var(--sizeDialogWidth);
    border: var(--sizeDialogBrdr) solid black;

    & .book-form {
        padding: var(--sizeMar03);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--sizeMar01);

        & legend, & .form-row label {
            font-size: var(--sizeFontLabels);
        }
        
        & h2 {
            align-self: center;
            
            font-size: var(--sizeFont01);
            margin-bottom: var(--sizeMar01);
        }

        & .form-row {
            /* To put equal amount of space on either side of the input field */
            margin-left: var(--sizeFormRowMar);
            
            display: flex;
            align-items: center;
            gap: var(--sizeMar01);

            & label {
                width: var(--sizeLabelWidth);
                text-align: right;
            }

            & input[type='text'] {
                width: var(--sizeInputWidth);
                outline: none;
                border: 1px solid var(--clrZinc05);
                border-radius: 3px;
                padding: var(--sizeSmall02);
                font-size: var(--sizeFontInput);

                &:focus {
                    box-shadow: 0px 0px 1px 1px var(--clrZinc05);
                }
            }

        }

        & .radio-form-row div {
            margin-left: var(--sizeFormRowMar);

            display: flex;
            align-items: center;

            & legend {
                margin-right: var(--sizeMar01);

                width: var(--sizeLabelWidth);
                text-align: right;
            }

            & ul {
                display: flex;
                gap: var(--sizeMar01);
            }
        }

        & .button-row {
            align-self: center;
            margin-top: var(--sizeMar01);

            display: flex;
            gap: var(--sizeMar01);

            & button {
                font-size: var(--sizeFont02);
                font-weight: bold;
                color: var(--clrZinc01);
                background-color: var(--clrZinc06);
                border: none;
                border-radius: 3px;
                padding: 0.4rem 1.5rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--clrZinc05);
                }

                &:active {
                    background-color: var(--clrZinc07);
                }
            }
        }
    }
}